body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
h1{
    color: rgb(170, 113, 15);
    text-align: center;
    padding:30px;
}

span{
    color: rgb(94, 90, 90);
}

nav p{
    color: rgb(182, 131, 45)
}
nav a{
    text-decoration:none;
    padding:20px;
   
    
}
strong{
    font-size: 32px;
}
.nav-item {
    font-size:20px;
    padding:30px;
    
}


.d-block  {
  width:100%;
  height:810px;
}

h5{
    padding-bottom: 150px;
    color: rgb(20, 14, 3);
    font-size: 80px;
    font-weight: bolder
    ;
}

button{
    display: block;
    padding:20px 50px;
    margin: 30px auto;
    border-radius: 25px;
    border:none;
    background-color:  rgb(182, 131, 45);
    font-weight: bold;
    text-align: center;
}
h2{
    text-align: center;
}

 .varieties h3{
    text-align: center;
    text-decoration: overline rgb(182, 131, 45);
}

.varieties .card{
    background-color:transparent;
}

.about{
    font-size:30px;
    line-height: 50px;
    text-align: center
}
.card{

    border:none;
    padding:30px
}
.fom{
    
    padding:10px 21%;
    margin: 20px;
}
.fm-size{
   
    padding:10px 25%;
    margin-left: 34px ;
}
.custom-fom{
    text-align:center;
    padding-right: 280px;
    
}
.delivery{
    text-align:center;
}
.pizza{
    border-radius: 49%;
}


#pricing{
text-align: center;
display: flex;
justify-content: center;
display: none;
transition: all 4s ease;
}

#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

 .quick ul {
    list-style: none;

}

ul li  {
    color: rgb(182, 131, 45);
    font-weight: lighter;
    list-style: none;
}

.card-body .col {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(182, 131, 45);
}

.card-footer {
    text-align: center;
    background-color: rgb(182, 131, 45);
    color: rgb(53, 51, 51);
}

.btn{
    background-color:rgb(182, 131, 45);
}
.icon{
    color: black;
}


.foot{
    background-color:rgb(209, 205, 205);
}
