h1{
    color: rgb(182, 131, 45);
    text-align: center;
    padding:30px;
}

span{
    color: rgb(94, 90, 90);
}

nav p{
    color: rgb(182, 131, 45)
}
nav a{
    text-decoration:none;
    padding:20px;
   
    
}
.nav-item {
    font-size:20px;
    padding:30px;
    
}


.d-block  {
  width:100%;
  height:810px;
}

h5{
    padding-bottom: 150px;
    color: rgb(20, 14, 3);
    font-size: 80px;
    font-weight: bolder
    ;
}

button{
    display: block;
    padding:20px 50px;
    margin: 30px auto;
    border-radius: 25px;
    border:none;
    background-color:  rgb(236, 167, 46);
    font-weight: bold;
    text-align: center;
}


.about{
    font-size:30px;
    line-height: 50px;
    text-align: center
}
.card{

    border:none;
    padding:30px
}
.custom-select{
    padding: 8px 50%;
    display:block;
    margin: 40 auto;
}

