h1{
    color: rgb(182, 131, 45);
}

span{
    color: rgb(94, 90, 90);
}

nav p{
    color: rgb(182, 131, 45)
}
nav a{
    text-decoration:none;
    padding:20px;
   
    
}
.nav-item {
    font-size:20px;
    padding:30px;
    
}



